@media (min-width: 0px) and (max-width: 300px) {
 h5{
    font-size: 9px;
 }
 h6
 {
    font-size: 5px;
 }
}
@media (min-width: 301px) and (max-width: 600px) {
 h5{
    font-size: 15px;
 }
 h6
 {
    font-size: 12px;
 }
}

