<section class=" bg-img">

    <section class="container shadow bg-light px-3 py-5 mt-5 ">

        <h2 class="text-muted text-center">بِسْمِ ٱللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ</h2>

        <h3 class="my-5 text-muted">Read the Quran by surah :</h3>
        <hr>

        <div *ngFor="let item of allSurahsName" >
            <div [routerLink]="['/surahData',item.number]"  class="d-flex justify-content-between  pointer hover py-4 px-1 mb-2">
                <div>
                    <h5>{{item.englishName}} ({{item.englishNameTranslation}})</h5>
                    <h6>{{item.numberOfAyahs}} ayahs</h6>
                </div>
                <div>
                    <h5 class=" rtl">{{item.name}}</h5>
                    <h6 class=" rtl">{{item.numberOfAyahs}} ايات</h6>
                </div>
            </div>
        </div>

    </section>
</section>