<section class=" bg-img">

    <section class="container shadow bg-light px-3 py-4 mt-5 ">

        <h2 class="text-muted text-center">بِسْمِ ٱللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ</h2>

        <h3 class="my-5 text-muted">Surah An-Noor Ayah 35 (24:35)</h3>
        <hr>

        <h5 class="rtl text-color">۞ ٱللَّهُ نُورُ ٱلسَّمَـٰوَ ٰ⁠تِ وَٱلۡأَرۡضِۚ مَثَلُ نُورِهِۦ كَمِشۡكَوٰةࣲ فِیهَا
            مِصۡبَاحٌۖ
            ٱلۡمِصۡبَاحُ فِی زُجَاجَةٍۖ ٱلزُّجَاجَةُ كَأَنَّهَا كَوۡكَبࣱ دُرِّیࣱّ یُوقَدُ مِن شَجَرَةࣲ مُّبَـٰرَكَةࣲ
            زَیۡتُونَةࣲ لَّا شَرۡقِیَّةࣲ وَلَا غَرۡبِیَّةࣲ یَكَادُ زَیۡتُهَا یُضِیۤءُ وَلَوۡ لَمۡ تَمۡسَسۡهُ نَارࣱۚ
            نُّورٌ عَلَىٰ نُورࣲۚ یَهۡدِی ٱللَّهُ لِنُورِهِۦ مَن یَشَاۤءُۚ وَیَضۡرِبُ ٱللَّهُ ٱلۡأَمۡثَـٰلَ لِلنَّاسِۗ
            وَٱللَّهُ بِكُلِّ شَیۡءٍ عَلِیمࣱ <span>35</span></h5>

        <div class="d-flex justify-content-between my-5">
            <div class="text-color"><span>24:35 An-Noor</span></div>
            <div class="text-color"><span class="rtl">٢٤:٣٥ سُورَةُ النُّورِ</span></div>
        </div>
        <hr>




        <footer class="text-color fixed-bottom bottom-0 text-center">


            <div class="bg-light h-75 w-100 p-1">

                <div class=" row d-flex justify-content-around">

                    <div class="col-md-6 col-12 mb-3">
                        <div class="input-group mt-2 pos">
                            <input type="text" class="form-control " placeholder="ayah reference"
                                aria-label="ayah reference" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">go</button>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          </audio>
                    </div>

                </div>

            </div>


        </footer>




    </section>
</section>