<section class=" bg-img">
    <section class="container shadow bg-light px-3 py-4 mt-5  ">
        <h2 class="text-muted text-center">بِسْمِ ٱللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ</h2>
        <h3 class="my-5 text-muted">Surah {{surahNameInEnglish}} Ayah {{numberOfAyah}}
            ({{surahNumber}}:{{numberOfAyah}})</h3>
        <hr>
        <h3 class="rtl text-color">{{ayahText}}<span>{{numberOfAyah}}</span></h3>
        <div class="d-flex justify-content-between margin mt-4 ">
            <div class="text-color"><span> {{surahNumber}}:{{numberOfAyah}} {{surahNameInEnglish}}</span></div>
            <div class="text-color"><span class="rtl">{{surahNameInArabic}} {{surahNumber}}:{{numberOfAyah}} </span>
            </div>
        </div>
        <hr>
        <footer class="text-color fixed-bottom bottom-0  text-center">
            <div class="bg-light h-75 w-100 p-1">
                <div class=" row d-flex justify-content-around">
                    <div class="col-md-6 col-12 mb-3 ">
                        <form class="input-group mt-2 pos " (ngSubmit)="getAyah(getAyahForm)" [formGroup]="getAyahForm">
                            <select class="form-select "  formControlName="surahNumber"  aria-label="Default select example">
                               <option  *ngFor="let item of surahNamesArabi let i=index" [value]="i+1">{{item}}</option>
                               <option value="115" >Choose Surah Name</option>
                              </select>
                            <input type="text" class="form-control " placeholder="ayah number "
                                aria-label="ayah reference" aria-describedby="button-addon2"
                                formControlName="ayahNumber">
                            <button type="submit" [disabled]="getAyahForm.invalid"
                                class="btn btn-outline-secondary">go</button>
                        </form>
                    </div>
                    <div class="col-md-6 col-12">
                        <audio class="mt-2" controls [src]="currentSource"></audio>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</section>