<nav class="navbar navbar-expand-lg  fixed-top top-0 text-center ">
    <div class="container-fluid">
        <img class="me-4" src="assets/img/koran.png" alt="logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <hr>
                <li class="nav-item me-2 ">
                    <a class="nav-link  " aria-current="page"  routerLinkActive="text-white" routerLink="home">Home</a>
                </li>
                <hr>
                <li class="nav-item me-2">
                    <a class="nav-link " aria-current="page"  routerLinkActive="text-white" routerLink="juz">juz</a>
                </li>
                <hr>
                <li class="nav-item me-2">
                    <a class="nav-link " aria-current="page"  routerLinkActive="text-white" routerLink="surah">surah</a>
                </li>
                <hr>
                <li class="nav-item me-2 ">
                    <a class="nav-link " aria-current="page" routerLinkActive="text-white" routerLink="ayah">ayah</a>
                </li>
                <hr>
            </ul>

            <h4 class="pointer text-light " routerLink="home">الْقُرْآن الْكَرِيْم</h4>
            <hr>
        </div>
    </div>
</nav>