/* You can add global styles to this file, and also import other style files */
 *
 {
   text-transform: capitalize; 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .pointer
 {
cursor: pointer;
 }
 .bg-img {
  background-image: url(assets/img/quran.jpg);
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  color: white; 
} 


hr 
{
    color:#764d34 ;
   
}
.hover
{
    transition: all .3s;
    color: #764d34;
    &:hover
    {
        color: white;
        background-color :#764d34 ;
    }
}

.rtl
{
    direction: rtl;
}

.text-color {
    color: #764d34;
}


span {
    border: #764d34;
    color: white;
    width: 50%;
    height: 50%;
    padding: 5px;
    border-radius: 5%;
   
    background-color: #764d34;
}