<section class=" bg-img">

    <section class="container shadow bg-light px-3 py-5 mt-5 ">

        <h2 class="text-muted text-center">بِسْمِ ٱللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ</h2>
    
        <h3 class="my-5 text-muted">Read the Quran in Arabic :</h3>
        <hr>
    
    
    
        <div>
            <div class="pointer body rounded-1 my-2  py-2 px-1 ">
                <h3 class="mb-3">the whole quran</h3>
                <p>Read and Stream the entire Quran in Arabic (Mishary al Afasy)</p>
            </div>
            <div class="pointer body rounded-1 mb-2  py-2 px-1 ">
                <h3 class="mb-3">The whole Quran in Arabic and English</h3>
                <p>Read and Stream the entire Quran in Arabic (Mishary al Afasy) and English (Ibrahim Walk - Sahih International Translation)</p>
            </div>
           <div class="d-flex justify-content-center mb-2  ">
            <div class="pointer body  me-2 rounded-1 w-100 py-2 px-1 ">
                <h3 class="mb-3">by surah</h3>
              
            </div>
            <div class="pointer body   rounded-1 w-100 py-2 px-1 ">
                <h3 class="mb-3">by juz</h3>
        
            </div>
           </div>
            <div class="pointer body   rounded-1 py-2 px-1 ">
                <h3 class="mb-3">A Single Ayah</h3>
                <p>Read, research and stream a single Ayah</p>
            </div>
        </div>
    
    
    
    </section>
</section>