<section class=" bg-img">
    <section class="container shadow bg-light px-3 py-5 mt-5 ">
        <h2 class="text-muted text-center">بِسْمِ ٱللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ</h2>
        <h3 class="my-5 text-muted">Read and listen the Quran in Arabic :</h3>
        <hr>
        <div>
            <div class="pointer body   py-2 px-1 " routerLink="/surah">
                <h3 class="mb-3">by surah</h3>
                <p>you can read quran by surah you can choose the surah that you want</p>

            </div>
            <div class="pointer body  my-4   py-2 px-1 " routerLink="/juz">
                <h3 class="mb-3">by juz</h3>
                <p>you can read quran by juz you can choose the juz that you want</p>

            </div>
            <div class="pointer body    py-2 px-1 "  routerLink="/ayah">
                <h3 class="mb-3">A Single Ayah</h3>
                <p>Read, research and stream a single Ayah</p>
            </div>
        </div>
    </section>
</section>