<section class=" bg-img">

    <section class="container shadow bg-light px-3 py-4 mt-5 ">


        <div class="row  text-color mb-4 mt-3 bg-light">
            <div class="col-md-4 col-12 text-start">1 - {{surahNameInEnglish}}</div>
            <div class="col-md-4 col-12 my-3 my-md-0  text-center">{{englishNameTranslation}}</div>
            <div class="col-md-4 col-12 text-end rlt"> ﴾{{ayahName}}﴿ </div>

        </div>

        <h2 class="text-muted text-center">بِسْمِ ٱللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ</h2>
        <hr>

        <h5 *ngFor="let item of ayahData" class=" rtl  text-color  ">
            {{item.text}}
            <span>{{item.numberInSurah}}</span>
        </h5>
        <br>
        <br>
        <br>
        <hr>
        <footer class="text-color fixed-bottom bottom-0 text-center">
            <div class="bg-light h-75 w-100 p-1">
                <audio #myAudioElement muted   class="mt-2" controls [src]="ayahAudio"></audio>
            </div>
        </footer>
    </section>
</section>